<form id="add-entry" method="post" action="/journels/add-entry">
  <label for="entry">Add an entry</label>
  <input name="entry" class="form__input" type="textarea" placeholder="Entry..." />
  <input type="submit" class="button" value="Add Entry"/>
</form>
