<form id="login-form" class="form" method="post" action="/users/login">
  <p class="text-center heading">Login</p>
  <input name="email" type="text" class="form__input" placeholder="Email Address" />
  <input name="password" type="password" class="form__input" placeholder="Password" />
  <input type="submit" class="button" />
</form>
