<form id="registration-form" name="registration-form" class="form register--form register--form-visible" method="post" action="/users/register">
  <input id="name" name="name" class="form__input" type="text" placeholder="Your Name" />
  <input id="email" name="email" class="form__input" type="email" placeholder="Please enter your Email Address" />
  <input id="password" name="password" class="form__input" type="password" placeholder="Choose a Password" />
  <input id="repassword" name="repassword" class="form__input" type="password" placeholder="Repeat Password"/>
  <label for="phone">Mamnoon relies on your phone to acheive the best resulst</label>
  <input id="phone" name="phone" class="form__input" type="number" placeholder="Phone Number" />
  <input type="submit" class="button" value="Register"/>
</form>
