<form id="registration-form" class="form" method="post" action="/users/register">
  <p class="text-center heading">Register</p>
  <input name="email" class="form__input" type="text" placeholder="Please enter your Email Address" />
  <input name="password" class="form__input" type="password" placeholder="Choose a Password" />
  <input name="repassword" class="form__input" type="password" placeholder="Repeat Password"/>
  <input type="submit" class="button" value="Register"/>
</form>
