<form id="update-phone" method="post" action="/users/update">
  <label for="phone">Mamnoon relies on your phone to acheive the best resulst</label>
  <input name="phone" class="form__input" type="text" placeholder="Phone Number" />
  <input type="submit" class="button" value="Add Number"/>
</form>
