<form id="update-phone" method="put" action="update">
  <label for="phone-number">Mamnoon relies on your phone to acheive the best resulst</label>
  <input name="phone-number" class="form__input" type="text" placeholder="Phone Number" />
  <input type="submit" class="button" value="Add Number"/>
</form>
