<!doctype>
<html>
  {{> head}}
    <body>
        <div id="main">
          <div class="container">
            <div class="row pad">
              {{> header}}
            </div>
            <div class="row pad">
              <div class="register">
                {{> register}}
              </div>

            </div>
            <p>
              Already have an account? <span id="loginSwitch">Login Here</span>
            </p>
            {{> login}}
          </div>
        </div>
        <script src="/dist/scripts.js"></script>
    </body>
</html>
