.outline { outline: 1px solid black; }

.bg-biege { background-color: $biege; }
.bg-green { background-color: $green; }
.bg-dark { background-color: $dark; }

.pad { padding: $base; }
.center { margin: 0 auto; }
.margin-top { margin-top: $base; }
.margin-bottom { margin-bottom: $base; }
.text-center { text-align: center; }
