.outline {
  outline: 1px solid black;
  background-color: white;
}

.pad { padding: $base; }
.center { margin: 0 auto; }
.margin-top { margin-top: $base; }
.margin-bottom { margin-bottom: $base; }
.text-center { text-align: center; }
